:root {
  --fondo: rgba(18,18,18,.6);
  --fondo-2: rgba(26,33,74,1);
  --fondo-3: rgba(18,18,18,1);
  --texto: rgba(255,255,255,1);
  --texto-2: rgba(255,208,58,1);
}
/* navbar------------------------------------- */
.navbar a {
  color: var(--texto) ;
}
.bg-dark {
  background-color: var(--fondo) !important;
}
.bg-dark-2 {
  background-color: var(--fondo-3) !important;
}
#menu a:hover {
  color: var(--texto-2);
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,208,58,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
.navbar .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}
.dropdown-menu {
  background-color: var(--fondo);
}
.dropdown-menu a:hover {
  background-color: transparent;
}
/* navbar------------------------------------- */
/* main--------------------------------------- */
#main {
  /* width: 100vw; */
  background-image: url(../img/itzel-gonzalez-lara-TeZegvNEAtk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.color-1 {
  color: var(--texto);
}
.bg-color-1 {
  background-color: var(--fondo);
}
/* main--------------------------------------- */
